<div class="background">
    <div class="box">
      <div class="in-box">
        <h2>NUOVA PASSWORD</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <p-floatLabel class="formInput">
              <p-password formControlName="password" [toggleMask]="true" [feedback]="false"/>
              <label for="password">Crea password</label>
            </p-floatLabel>
            <br /><br />
            <p-floatLabel class="formInput">
              <p-password formControlName="passwordc" [toggleMask]="true" [feedback]="false"/>
              <label for="passwordc">Conferma Password</label>
            </p-floatLabel>
            <div *ngIf="passwordnonuguali" style="font-size: 13.7px;color: red;">
              <p>Le due password non sono uguali</p>
            </div>
            <div *ngIf="submit" style="font-size: 13.7px;">
              <p>Password inviata!</p>
            </div>
            <div *ngIf="campovuoto" style="font-size: 13.7px;color: red;">
              <p>I campi sono obbligatori</p>
            </div>
            <button pButton pRipple label="Invia" type="submit"></button>
        </form >
      </div>
    </div>
</div>


