<p-toast />
<div class="background">
    <div class="box">
      <div class="in-box">
        <h2 style="margin-bottom: 15px;">NUOVA PASSWORD</h2>
        <p style="margin-bottom: 0;">La password deve contenere:</p>
        <ul style="margin-top: 0; margin-left: 0; font-size: smaller; padding: 5px 0 10px 15px">
          <li>Almeno 8 caratteri</li>
          <li>Almeno una lettera maiuscola</li>
          <li>Almeno una lettera minuscola</li>
          <li>Almeno un carattere speciale</li>
          <li>Almeno un numero</li>
        </ul>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <p-floatLabel class="formInput">
              <p-password formControlName="password" [toggleMask]="true" [feedback]="false"/>
              <label for="password">Crea password</label>
            </p-floatLabel>
            <br /><br />
            <p-floatLabel class="formInput">
              <p-password formControlName="passwordc" [toggleMask]="true" [feedback]="false"/>
              <label for="passwordc">Conferma Password</label>
            </p-floatLabel>
            <div *ngIf="passwordnonuguali" style="font-size: 13.7px;color: red;">
              <p>Le due password non sono uguali</p>
            </div>
            <div *ngIf="submit" style="font-size: 13.7px;">
              <p>Password inviata!</p>
            </div>
            <div *ngIf="campovuoto" style="font-size: 13.7px;color: red;">
              <p>I campi sono obbligatori</p>
            </div>
            <button pButton pRipple label="Invia" type="submit"></button>
        </form >
      </div>
    </div>
</div>


