.background {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url("../../../assets/1874132-astratto-geometrico-bianco-sfondo-vettoriale.jpg");
    height: 100dvh;
    background-size: cover;
    display: flex;
  }
  
  .box {
    width: fit-content;
    background-color: white;
    margin: auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 1.7em;
    align-self: center;
  }
  
  .in-box {
    display: flex;
    flex-direction: column;
  }
  
  .in-box > h2 {
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5em;
  }
  
  #pwdDimenticata {
    text-decoration: none;
    color: #a91936;
    font-weight: bold;
    margin-top: 0.5em;
  }
  
  .p-button {
    margin-top: 1.9em;
    margin-bottom: 1em;
    background-color: #a1c1d9;
    border-color: #a1c1d9;
    width: 100%;
    color: black;
  }
  
  .bottom-links {
    text-decoration: none;
    color: inherit;
  }
  
  .bottom-links:hover,
  #pwdDimenticata:hover {
    text-decoration: underline;
  }
  
  input[pInputText],
  p-password {
    width: 100%;
  }
  