<div class="box">
  <form [formGroup]="activityForm" (ngSubmit)="onSubmitForm()">
    <div class="date">
      <div class="date-container" style="text-align: center;">
        <input *ngIf="!activityToEdit().isTaskActive" type="date" max="{{today}}" min="{{firstOfMonth}}" [(ngModel)]="dateToEdit" formControlName="date"/>
        <input *ngIf="activityToEdit().isTaskActive" type="date" max="{{today}}" [(ngModel)]="dateToEdit" formControlName="date"/>
      </div>
      <div style="display: flex; justify-content: center; margin-top: 10px;">
        <div style="margin-right: 25px;">
          <h4>Orario di inizio</h4>
          <input type="time" formControlName="orarioInizio" [(ngModel)]="startToEdit" />
        </div>
        <div style="margin-left: 25px;">
          <h4>Orario di fine</h4>
          <input type="time" formControlName="orarioFine" [(ngModel)]="endToEdit"/>
        </div>
      </div>
    </div>

    <div style="text-align: center; margin-top: 20px;">
      <p-floatLabel>
        <p-dropdown 
          inputId="taskName"
          formControlName="taskName"
          [options]="tasks()"
          optionLabel="taskName"
          [(ngModel)]="prevTask"/>
        <label for="taskName">Attività</label>
      </p-floatLabel>
    </div>

    <div class="note" style="text-align: center; margin-top: 20px;">
      <p-floatLabel>
        <textarea
          inputId="note"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="note"
          [(ngModel)]="activityToEdit().notes">
        </textarea>
        <label for="note">Note</label>
      </p-floatLabel>
    </div>

    <button pButton pRipple label="Invia" [disabled]="!activityForm.valid" type="submit" style="margin-top: 20px;"></button>
  </form>
</div>
