.box {
    padding: 1em;
    margin: 1em;
    font-size: 16px;
}

form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column wrap;
}

div {
    margin: 30px auto;
}

.note {
    margin: auto;
}

.p-button {
    background-color: #0F6DAF;
    border-color: #0F6DAF;
    color: black;
    width: 50%;
    margin: 1.5em auto;
  }
  
