<p-toast />
<div class="top">
  <div class="in-top">
    
  </div>
  <div class="in-top">
    <h1 style="margin: auto">Tipi di attività</h1>
  </div>
  <div class="in-top">
    <span>Filtra per: </span>
    <p-dropdown 
      placeholder="Filtro"
      [options]="filterOptions"
      class="dropdown-filter"
      [(ngModel)]="filter"
      (onChange)="filterTasks()" />
  </div>
</div>
<div class="table">
    <p-table [value]="tasks">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th><add-type-activity (added)="getTasks()" style="margin: auto"/></th>
        <th>Nome Task</th>
        <th>Stato</th>
        <th>Tempo previsto</th>
        <th>Progresso</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr [class.disabled]="!task.isActive">
        <td *ngIf="task.isActive"><span class="pi pi-check-circle" style="color: green"></span></td>
        <td *ngIf="!task.isActive"><span class="pi pi-times-circle" style="color: orangered"></span></td>
        <td>{{task.taskName}}</td>
        <td>{{task.state}}</td>
        <td>{{task.expectedHours}} ore</td>
        <td><p-progressBar [value]="task.progressState" [showValue]="false"/></td>
        <td *ngIf="task.progressState !== 100"><b>{{task.progressState | number:'1.0-0'}}%</b></td>
        <td *ngIf="task.progressState === 100"><b>{{task.progressState | number:'1.0-0'}}% ({{this.getSumHours(task._id)}} ore)</b></td>
        <td style="text-align: center;">
          <button *ngIf="task.isActive" class="edit-button" (click)="editTask(task._id)">Modifica</button>
          <button *ngIf="!task.isActive" class="disabled-edit-button">Modifica</button>
        </td>
        <td class="buttons">
          <button *ngIf="task.isActive" class="delete-button" (click)="deleteTask(task._id)">Chiudi</button>
          <button *ngIf="!task.isActive" class="re-open-button" (click)="reopenTask(task._id)">Riapri</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>

<p-dialog header="Modifica Task {{taskToEdit().taskName}}" [modal]="true" [(visible)]="visibleEdit" [style]="{ width: '25rem' }">
  <form [formGroup]="editTaskForm" class="modal-form">
    <input type="text" pInputText formControlName="taskName" [(ngModel)]="taskNameToEdit" class="input-task-name"/>
    <br>
    <p-inputNumber
        [(ngModel)]="expectedHoursToEdit"
        inputId="minmax"
        mode="decimal"
        [min]="1"
        formControlName="expectedHours"
        class="input-task-name"
      />
    <br><br>
    <button type="submit" class="edit-button" (click)="onSubmitEditTask()">Conferma</button>
  </form>
</p-dialog>