@import "primeicons/primeicons.css";

.table {
    width: 90%;
    margin: auto;
}

.top {
    display: flex;
}

.in-top {
    display: flex;
    width: 40%;
    margin: auto
}

.in-top > span {
    margin: auto 5px auto auto;
}

.dropdown-filter {
    margin: 30px auto 30px 5px;
    width: fit-content;
}
 
.buttons {
    display: flex;
}

tr.disabled {
    opacity: 0.8;
}

tr.disabled > td {
    cursor: not-allowed;
}

.delete-button {
    color: black;
    background-color: orangered;
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.re-open-button {
    color: white;
    background-color: green;
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.edit-button {
    color: white;
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.disabled-edit-button {
    color: white;
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 10px;
    border: none;
    margin: auto;
    opacity: 0.5;
    cursor: not-allowed;
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.input-task-name {
    width: fit-content;
    margin: auto;
}

.dropdown {
    margin: 30px auto;
}

.progress {
    margin: 10px auto;
}

@media (max-width: 600px) {
    table {
        margin: 20px auto;
        margin-left: 10px;
        margin-right: 10px;
        width: auto; 
    }

    button {
        margin-right: 5px;
    }

    .delete-button {
        color: white;
        background-color: orangered;
        border-radius: 12px;
        padding: 10px;
        margin-right: 20px;
        border: none;
        cursor: pointer;
        float: right;
    }

    .delete-button i {
        font-size: 20px;
    }
}