@import "primeicons/primeicons.css";

.table {
    width: 90%;
    margin: auto;
}

.buttons {
    display: flex;
}

tr.disabled {
    opacity: 0.8;
}

tr.disabled > td {
    cursor: not-allowed;
}

.delete-button {
    color: black;
    background-color: orangered;
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.disabled-delete-button {
    color: black;
    background-color: orangered;
    border-radius: 12px;
    padding: 10px;
    border: none;
    margin: auto;
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    table {
        margin: 20px auto;
        margin-left: 10px;
        margin-right: 10px;
        width: auto; 
    }

    button {
        margin-right: 5px;
    }

    .delete-button {
        color: white;
        background-color: orangered;
        border-radius: 12px;
        padding: 10px;
        margin-right: 20px;
        border: none;
        cursor: pointer;
        float: right;
    }

    .delete-button i {
        font-size: 20px;
    }
}