.times {
    max-width: 5em
}

.table-container {

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    text-align: center;
}

h1 {
    text-align: center;
   
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: auto;
    justify-content: flex-end;
}

.date-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date-input label {
    margin-right: auto;
}

input[type="date"] {
    background-color: #0080ff;
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
}

input[type="text"] {
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.pi-search {
    font-size: 15px;
    color: #6c757d;
    margin-left: 2px;
}

.info-button,
.delete-button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 12px;
}

.info-button {
    background-color: var(--primary-color);
    color: white;
    margin-right: 20px;
}

.delete-button {
    background-color: orangered;
    color: black;
    margin-right: -50px;
}
.button-report-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .report-button {
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0;
  }
  
  

@media (max-width: 767px) {
    .filter-container {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .fix{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 2px;
    }

    .date-input {
        margin-top: 10px;
    }
}
