<p-toast></p-toast>
<h1>Attività recenti</h1>
<div class="table-container">
  <div class="filter-container" [formGroup]="filterForm">
    <div class="fix">
      <i style="margin-right: 5px;" class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Cerca per attività" formControlName="taskName">
    </div>
    
    <div class="date-input">
      <label for="fromDate">Da:</label>
      <input id="fromDate" type="date" pInputText placeholder="Da data" formControlName="fromDate" style="background-color: #0F6DAF;">
    </div>
    <div class="date-input">
      <label for="toDate">A:</label>
      <input id="toDate" type="date" pInputText placeholder="A data" formControlName="endTime" style="background-color: #0F6DAF;"> 
    </div>
  </div>

  <p-table
  [value]="filteredItems.length ? filteredItems : rowItems"
  sortField="firstName"
  [tableStyle]="{ 'min-width': '60rem' }"
  [paginator]="false"
  [rows]="limit"
  [totalRecords]="totalRecords"
 
  [style]="{ 'max-width': '100%', 'margin': '0 auto' }">
  <ng-template pTemplate="header">
    <tr>
   
  
      <th pSortableColumn="taskName" class="activities" >
        Attività
       
      </th>
      <th pSortableColumn="startTime">
        Data
        <p-sortIcon field="startTime"></p-sortIcon>
      </th>
      <th pSortableColumn="startTime" class="times">
        Orario di inizio
        <p-sortIcon field="startTime"></p-sortIcon>
      </th>
      <th pSortableColumn="endTime" class="times">
        Orario di fine
      
      </th>
      <th pSortableColumn="notes" class="notes">
        Note
     
      </th>
      <th class="buttons"></th>
      <th class="buttons"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
     
      <td>{{ rowData.taskName }}</td>
      <td>{{ rowData.startTime | date: "dd/MM/yyyy" }}</td>
      <td>{{ rowData.startTime | date: "HH:mm" }}</td>
      <td>{{ rowData.endTime | date:"HH:mm" }}</td>
      <td>{{ rowData.notes }}</td>
      <td><edit-activity [activity]="(rowData)"></edit-activity></td>
      <td><delete-activity [activityID]="rowData._id"></delete-activity></td>
    </tr>
  </ng-template>
</p-table>
  <div style="display: flex; justify-content: flex-end; background-color: white; padding-right: 1em;">
    {{conteggio}}
  </div>
  <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first" 
    [rows]="limit" 
    [totalRecords]="totalRecords">
  </p-paginator>

  <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; background-color: white;">
    <input
      type="number"
      [(ngModel)]="limit" 
      pInputText
      placeholder="Inserisci il limite"
      style="width: 160px;">
    <br>
    <p-button label="Invia" (click)="changeLimit()" size="small" [style]="{'background-color': '#0F6DAF'}"></p-button> {{limit}}
  </div>
</div>
