body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  max-width: 591px;
  max-height: 440px;
  padding: 40px; 
  margin: auto; 
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.required-email {
  color: red;
  margin-bottom: 5px;
}

input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}

/* Media query per schermi più grandi */
@media screen and (min-width: 592px) and (min-height: 441px) {
  body {
    justify-content: center;
  }
}

/* Media query per schermi più piccoli */
@media screen and (max-width: 591px), (max-height: 440px) {
  body {
    justify-content: flex-start;
  }
}