<br><br><br><br><br>
<p-toast />
<div style="display: flex; justify-content: space-between;">
  <div class="container">
      <h1>Reimposta la tua password</h1>
      <div class="input-container">
        <label for="email" style="color: red;">L'email è obbligatoria</label>
        <br>
        <input id="email" type="email" pInputText [(ngModel)]="email" placeholder="Inserisci l'email">
      </div>
      <button pButton type="button" label="Invia" (click)="submit()">Invia</button>
  </div>
</div>

