.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color:transparent;
  justify-content: space-between; 
  overflow-x: auto;
}

.right {
  display: flex;
  align-items: center;
}

.link {
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  background-color:transparent;
  margin:auto;
  border: none;
  cursor: pointer;
  /* font-size: 16px; */
  padding: 5px 9px;
  border-radius: 4px;
  /* color: #ffffff; */
  /* white-space: nowrap; */
  }
 

.p-button {
  
    /* margin:10px 10px; */
    margin-top:0%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 4px;
    color: black;
}

.omino-button {
  margin-left: 15px;
  /* background: none; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* color: black; */
  white-space: nowrap;
}

.help-button {
  margin-left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .link,
  .p-button,
  .omino-button,
  .help-button {
      font-size: 14px;
      padding: 8px 10px;
  }
}

@media (max-width: 414px) {
  .navbar {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .link,
  .p-button{
    padding:7px 12px;
    font-size: 8px;
  }
  .omino-button,
  .help-button {
      font-size: 6px;
      padding: 2px 5px;
      margin:auto;
  }
}

@media (min-width: 667px) {
  .help-button,
  .p-button,
  .omino-button {
      width:50%;
  }
  }