<p-toast />
<div class="card flex justify-content-center">
    <button (click)="showDialog()" style="background-color: #A1C1D9; color: white; border: none; border-radius: 8px; height: 28px;font-size: 14px;">Aggiungi tipo di attività</button>
    <p-dialog header="New Task" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" class="dialog">
        <span class="p-text-secondary block mb-5">Inserisci il nome </span>
        <div class="flex align-items-center gap-3 mb-3 text">
            
            <input pInputText id="username" class="flex-auto" autocomplete="off" placeholder="name" [(ngModel)]="taskname" />
        </div>
       
        <div class="flex justify-content-end gap-2 button-div" >
            <p-button label="Save" (click)="submit()" class="button" />
        </div>
    </p-dialog>
</div>
