.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 30px; 
  width: fit-content;
  height: 30px;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 20px;
}

button.btn-primary {
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
}

button.btn-primary:hover {
  background-color: var(--primary-color-dark);
}

button.p-ripple.p-element {
  margin-right: auto;
  margin-left: auto;
}

textarea[formControlName="inputtextarea"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--surface-border);
  border-radius: 0.25rem;
  resize: vertical;
}

h4 {
  margin: 0.5rem 0;
}

.card {
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card.flex {
  display: flex;
}

.card.justify-content-center {
  justify-content: center;
}

.card .p-dropdown {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.margin-top-negative {
  margin-top: -25px;
}

.gap-small {
  gap: 0.5rem;
}

.input-time {
  width: 100%;
  padding: 0.25rem;
}

.email-container {
  margin-top: 20px; /* Adjust this value as needed */
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust this value as needed */
}

.add-activity {
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 12px;
  background-color: #a1c1d9;
  color: white;
  margin-right: 20px;
}