.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 90vh;
}

.card {
  max-width: 90%;
  height: fit-content;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin:auto;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 2em 9em;
}

.header img {
  margin-right: 10px;
}

.header .center {
  margin-left: 10px;
}

@media screen and (max-width: 750px){
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header img {
    margin: 0;
  }

  .header .center {
    margin: 0;
  }
}

.upload-container img {
  margin-right: 10px;
}

.upload-container span {
  margin-right: 10px;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 515px){
  .top, .bottom {
    flex-direction: column;
    align-items: center;
  }
}

.top input, .bottom input {
  flex: 1;
  margin: 0 10px;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.7em 1.2em auto auto;
  width: fit-content;
  flex-flow: row wrap; 
  font-size:0;
}

.actions a {
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.actions a:hover {
  text-decoration: underline;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}
  
input[type="text"]:focus {
  border-color: dodgerblue;
}
  
.p-button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}