@import "primeicons/primeicons.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 882px;
  height: 344px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin-left: 10px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.right input {
  flex: 1;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.right input:hover {
  border-color: #a1c1d9;
}

.right input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 200, 100, 0.5);
}

.right input:active {
  border-color: #f44336;
  box-shadow: 0 0 10px rgba(244, 67, 54, 0.5);
}

.codfisc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.cambio-password {
  margin-left: 10px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.actions button {
  margin: 0 10px;
}

.p-button {
  color: white;
  background-color: #a1c1d9;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.p-button-success {
  background-color: #4CAF50;
}

.p-button-danger {
  background-color: #f44336;
}

.p-button-secondary {
  background-color: #a1c1d9;
}

/* Media query per schermi con larghezza massima di 400px */
@media only screen and (max-width: 400px) {
  .container {
    padding: 0 3px;
  }

  .card {
    width: auto;
    padding: 8px;
  }

  .header h2 {
    font-size: 1rem;
  }

  .right input {
    font-size: 0.7rem;
    padding: 5px;
  }

  .actions button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
