<p-toast></p-toast>
<div class="container">
  <div class="card">
    <div class="header">
      <p-image src="{{user().propic}}" previewImageSrc="{{user().propic}}" alt="Immagine" [preview]="true"></p-image>
      <div class="center">
        <h1>Dati Anagrafici</h1>
      </div>
    </div>
    <div class="form-container">
      <form [formGroup]="userForm">
        <div class="top">
          <input class="name" type="text" placeholder="Nome" [(ngModel)]="user().firstName" formControlName="firstName"/>
          <input class="surname" type="text" placeholder="Cognome" [(ngModel)]="user().lastName" formControlName="lastName"/>
        </div>
        <div class="bottom">
          <input class="email" type="text" placeholder="{{user().email}}" readonly disabled/>
          <input class="codfisc" type="text" placeholder="Codice fiscale" [(ngModel)]="user().codiceFiscale" formControlName="codiceFiscale"/>
        </div>
        
        <div class="inline-fields">
          <div class="input-field">
            <label class="birthdate-label">Data di nascita</label>
            <input class="birthdate" type="string" formControlName="birthDate"   [(ngModel)]="user().birthDate"      placeholder="Data di nascita"/>
          </div>
          <div class="input-field">
            <input class="birthplace" type="text" formControlName="birthPlace"  [(ngModel)]="user().birthPlace"  placeholder="Luogo di nascita"/>
          </div>
        </div>

        <div class="inline-fields">
          <div class="input-field">
            <input class="residence" type="text" formControlName="residence"     [(ngModel)]="user().residence" placeholder="Residenza"/>
          </div>
        <!-- Dropdown for "inquadramento" -->
        <div class="input-field">
          <app-dropdown-inquadramento (selected)="onInquadramentoChange($event)"></app-dropdown-inquadramento>
        </div>

        <!-- Dropdown for "qualifica" -->
        <div class="input-field">
          <app-dropdown-qualifica [inputItems]="qualifications" (selected)="onQualificaChange($event)"></app-dropdown-qualifica>
        </div>
          <div class="input-field">
            <input class="iban" type="text" formControlName="iban"[(ngModel)]="user().iban" placeholder="Codice Iban"/>
          </div>
        </div>

        <div class="inline-fields">
          <div class="input-field">
            <label class="hiredate-group">Dati di assunzione</label>
            <input class="hiredate" type="string" formControlName="hireDate"[(ngModel)]="user().hireDate" placeholder="Dati di assunzione"/>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <button pButton type="button" (click)="close()" class="p-button p-button-secc">Chiudi</button>
      <button pButton type="button" (click)="openCaptcha()" class="p-button p-button-secc">Cambia password</button>
      <button pButton type="button" (click)="saveChanges()" class="p-button p-button-secc">Salva</button>
    </div>
  </div>
</div>

<p-dialog header="Cambia password" [modal]="true" [(visible)]="visibleCaptcha" [style]="{ width: '25rem' }">
  <app-recaptcha (isValid)="changePwd()" (error)="captchaError()"></app-recaptcha>
</p-dialog> 