<p-toast />
<div class="background">
    <div class="box">
        <div class="in-box">
            <h2>NUOVA PASSWORD</h2>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <p-floatLabel class="formInput">
                    <p-password id="oldPassword" formControlName="oldPassword" [toggleMask]="true" [feedback]="false"></p-password>
                    <label for="oldPassword">Password precedente</label>
                </p-floatLabel>
                <br /><br />
                <p-floatLabel class="formInput">
                    <p-password formControlName="password" [toggleMask]="true" [feedback]="false"/>
                    <label for="password">Nuova password</label>
                </p-floatLabel>
                <br /><br />
                <p-floatLabel class="formInput">
                    <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"/>
                    <label for="confirmPassword">Conferma password</label>
                </p-floatLabel>
                <br>
                <button pButton pRipple label="Invia" [disabled]="!userForm.valid" type="submit" style="background-color: #0F6DAF;"></button>
                <a class="bottom-links" routerLink="/impostazioni">Chiudi</a>
            </form >
        </div>
    </div>
  </div>
  