@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap");
@import "primeicons/primeicons.css";

.sfondo {
  background-image: url("/src/assets/1874132-astratto-geometrico-bianco-sfondo-vettoriale.jpg");
  height: 100dvh;
  background-size: cover;
}
.container-form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.container {
  position: relative;
  width: 400px;
  background: white;
  padding: 30px 30px;
  border: 1px solid #ccc;
}
header {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.input-field,
form .button {
  margin: 10px 0;
  position: relative;
  height: 40px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}
input:focus {
  border: 1px solid #1da1f2;
}
.input-field label,
span.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label {
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: 0.4s;
}
span.show {
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: "Open Sans", sans-serif;
}
input:valid ~ span.show {
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label {
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #1da1f2;
}
form .button {
  margin-top: 30px;
  overflow: hidden;
  z-index: 111;
}
.button .inner {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -3;
  transition: all 0.4s;
  background-color: #a1c1d9;
}
.button:hover .inner {
  left: 0;
}
.button button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.container .auth {
  margin: 35px 0 20px 0;
  font-size: 19px;
  color: grey;
}
.links {
  display: flex;
  cursor: pointer;
}
.facebook,
.google {
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 0 10px;
  transition: 0.4s;
}
.facebook:hover {
  border: 1px solid #4267b2;
}
.google:hover {
  border: 1px solid #dd4b39;
}
.facebook i,
.facebook span {
  color: #4267b2;
}
.google i,
.google span {
  color: #dd4b39;
}
.links i {
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}
.links span {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  padding-left: 8px;
  font-family: "Open Sans", sans-serif;
}
.signup {
  margin-top: 50px;
  font-family: "Noto Sans", sans-serif;
}
.signup a {
  color: #3498db;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}

.custom-file-upload {
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}
.info-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}
.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}