.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: transparent;
  overflow-x: auto;
}

.link {
  background-color: transparent;
  margin: auto;
  border: none;
  cursor: pointer;
  font-size: 60px;
  padding: 30px 40px;
  border-radius: 4px;
}

.p-button {
  margin-top: 0%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 60px;
  padding: 30px 40px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

.omino-button {
  margin-left: 40px;
  border: none;
  cursor: pointer;
  font-size: 60px;
  white-space: nowrap;
}

.help-button {
  margin-left: 40px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 60px;
  color: black;
  white-space: nowrap;
}

.right {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .link,
  .p-button,
  .omino-button,
  .help-button {
    font-size: 50px;
    padding: 30px 40px;
  }
}

@media (max-width: 414px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .link,
  .p-button {
    padding: 30px 40px;
    font-size: 40px;
  }
  .omino-button,
  .help-button {
    font-size: 35px;
    padding: 30px 40px;
    margin: auto;
  }
}

@media (min-width: 667px) {
  .help-button,
  .p-button,
  .omino-button {
    width: 90%;
  }
}