<p-sidebar [(visible)]="sidebarVisible">
  <h1>Attività</h1>
  <br>
  <li><i class="pi pi-home"></i> <a href="userhome">Dashboard</a></li>

  <br>
  <li><i class="pi pi-calendar-times"></i> <a href="attivitaprecedentiutente">Attività precedenti</a></li>
<br>
<li><i class="pi pi-user"></i> <a href="impostazioniutente">Impostazioni utente</a></li>

  <br>
  <li><i class="pi pi-sign-out"></i> <button style="background:none; border:none; padding:0;font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold; color:red; text-decoration:none; cursor:pointer;" (click)="logout()">Logout</button></li>



  <hr>

  <h1>Contatti</h1>
  <br>
  <li>
    <i class="pi pi-at"></i> Email: <a href="mailto:Activitytrackerinfo.it">Activitytrackerinfo.it</a>
  </li>
  <br>
  <li>
    <i class="pi pi-phone"></i> Telefono: <a href="tel:327205005">327205005</a>
  </li>
  <br>
  <li>
    <i class="pi pi-print"></i> Fax: <a href="fax:0911634824">0911634824</a>
  </li>
</p-sidebar>
<p-button  (click)="sidebarVisible = true" icon="pi pi-bars"  [style]="{'background-color': 'white','color' : 'black','border':'none'}" />





