@import "primeicons/primeicons.css";


p-sidebar :first-of-type {
    margin-top: -10px;
}


p-sidebar a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
    color:#888;
}

p-sidebar li {
    margin-bottom: 10px;
}

p-sidebar li a,
p-sidebar li button {
    margin-left: 5px;
}

li {
    list-style: none;
}

::ng-deep .custom-menu-position {

    top: -410px !important; 
    position:relative;

    left: -70px !important; 
  
   
   
}

::ng-deep .custom-usermenu-position {

    top: -230px !important; 
    position:relative;

    left: -70px !important; 
  
   
   
}