.backgorund {
    height: 74dvh;
    background-image: url("../../../assets/Immagine\ WhatsApp\ 2024-05-15\ ore\ 12.08.54_344a7fa8\ \(3\).png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      text-align: center;
}

h1 {
    width: fit-content;
    margin: 0 auto;
    padding-top: 3.5em;
    font-weight: 600;
}