<p-toast></p-toast>
<div class="sfondo">
  <div class="container-form">
    <div class="container">
      <header>
        <span>Registrati</span>
        <br />
      </header>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
         <div class="error-message" *ngIf="showSuccessMessage && !formSubmitted">
          <i class="pi pi-check" style="color: slateblue; margin-right: 5px"></i>
          <span>Form inviato correttamente</span>
        </div>

        <!-- Input Fields -->
        <div class="input-field">
          <input class="name" type="text" formControlName="name" placeholder="Nome (Obbligatorio)" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('name')?.value === ''">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il campo è obbligatorio</span>
        </div>

        <div class="input-field">
          <input class="surname" type="text" formControlName="surname" placeholder="Cognome (Obbligatorio)" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('surname')?.value === ''">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il campo è obbligatorio</span>
        </div>

        <div class="input-field">
          <input class="codfisc" type="text" formControlName="TaxIDcode" pattern="^[A-Z]{6}\d{2}[A-EHLMPR-T][0-9LMNP-V]{2}[A-Z][0-9LMNP-V]{3}[A-Z]$" placeholder="Codice fiscale (Obbligatorio)" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('TaxIDcode')?.errors?.['pattern']">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il codice fiscale non è valido</span>
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('TaxIDcode')?.value === ''">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il campo è obbligatorio</span>
        </div>

        <!-- Additional Input Fields -->
        <div class="input-field">
          <input class="email" type="text" formControlName="email" placeholder="Email (Obbligatorio)" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('email')?.errors?.['pattern']">
          <i class="pi pi-exclamation-triangle"></i>
          <span>L'email non è valida</span>
        </div>

        <div class="input-field">
          <label class="birthdate-label">Data di nascita</label>
          <input class="birthdate" type="date" formControlName="birthDate" placeholder="Data di nascita" />
        </div>

        <div class="input-field">
          <input class="birthplace" type="text" formControlName="birthPlace" placeholder="Luogo di nascita" />
        </div>
        <div class="input-field">
          <input class="residence" type="text" formControlName="residence" placeholder="Residenza" />
        </div>

        <!-- Dropdown for "inquadramento" -->
        <div class="dropdown-div">
          <app-dropdown-inquadramento class="custom-dropdown" (selected)="onInquadramentoChange($event)"></app-dropdown-inquadramento>
        </div>

        <!-- Dropdown for "qualifica" -->
        <div class="dropdown-div">
          <app-dropdown-qualifica class="custom-dropdown" [inputItems]="qualifications" (selected)="onQualificaChange($event)"></app-dropdown-qualifica>
        </div>

        <div class="input-field">
          <input class="iban" type="text" formControlName="iban" placeholder="Codice Iban" />
        </div>

        <div class="input-field">
          <label class="hiredate-group">Data di assunzione</label>
          <input class="hiredate" type="date" formControlName="hireDate" placeholder="Data di assunzione" />
        </div>


        <div class="card flex justify-content-center">
          <p-dialog header="Congratulazioni!" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '25rem', textAlign: 'center' }" [draggable]="false" [resizable]="false">
            <p style="text-align: center;">Registrazione avvenuta con successo,<tr></tr> controlla la tua email per proseguire.</p>
            <p-button routerLink="/home" label="Chiudi" [style]="{'background-color':'var(--primary-color)', 'border':'none'}"/> 
          </p-dialog>
        </div>
        <!-- Submit Button -->
        <button pButton pRipple label="Invia" class="submit-button"></button>

        <!-- Back to Home Link -->
        <div class="bottom-links">
          <span class="back-home" (click)="navigateToHome()">Torna alla home</span>
        </div>
      </form>
    </div>
  </div>
</div>