@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap");
@import "primeicons/primeicons.css";

.sfondo {
  background-image: url("../../../assets/1874132-astratto-geometrico-bianco-sfondo-vettoriale.jpg");
  height: 100dvh;
  background-size: cover;
}

.container-form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  position: relative;
  width: 350px; 
  background: white;
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 8px;
}

header {
  font-size: 18px; 
  font-family: "Montserrat", sans-serif;
}

.input-field {
  margin: 8px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field label {
  margin-bottom: 4px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  text-align: left;
}

.input-field input {
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  padding-left: 12px;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
}

input:focus {
  border: 1px solid #1da1f2;
}

.error-message {
  display: flex;
  padding: 4px;
  background-color: #ffc4c4;
  margin-top: -8px;
}

.error-message i {
  font-size: 14px; 
  color: #ff4d4d;
}

.error-message span {
  margin-left: 4px;
  font-size: 12px; 
  color: #ff4d4d;
}

.submit-button {
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  height: 40px; 
  font-size: 14px; 
  cursor: pointer;
  margin-bottom: 15px;
}

.bottom-links {
  margin-top: 20px; 
}

.back-home {
  cursor: pointer;
  font-size: 14px; 
  color: #060606;
  text-decoration: none;
}
