<p-toast></p-toast>
<div class="sfondo">
  <div class="overlay"></div>
  <div class="container-form">
    <div class="container">
      <header>
        <span>Registrati</span>
        <br />
      </header>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <br />
        <br />
        <br />
        <div class="card" id="success-message" style="display: flex" *ngIf="showSuccessMessage && !formSubmitted">
          <i class="pi pi-check" style="color: slateblue; margin-right: 5px"></i>
          <span>Form inviato correttamente</span>
        </div>
        
        <div class="input-field">
          <input class="name" type="text" formControlName="name" placeholder="Nome (Obbligatorio)" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('name')?.value === ''">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il campo è obbligatorio</span>
        </div>

        <div class="input-field">
          <input class="surname" type="text" formControlName="surname" placeholder="Cognome (Obbligatorio)" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('surname')?.value === ''">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il campo è obbligatorio</span>
        </div>

        <div class="input-field">
          <input class="codfisc" type="text" formControlName="TaxIDcode" pattern="^(?:[A-Z][AEIOU][AEIOUX]|[AEIOU]X{2}|[B-DF-HJ-NP-TV-Z]{2}[A-Z]){2}(?:[\dLMNP-V]{2}(?:A-EHLMPR-T|[DHPS][37PT][0L]|[ACELMRT][37PT][01LM]|[AC-EHLMPR-T][26NS][9V])|(?:[02468LNQSU][048LQU]|[13579MPRTV][26NS])B[26NS][9V])(?:[A-MZ][1-9MNP-V][\dLMNP-V]{2}|[A-M]0L)[A-Z]$" placeholder="Codice fiscale (Obbligatorio)" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('TaxIDcode')?.errors?.['pattern']">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il codice fiscale non è valido</span>
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('TaxIDcode')?.value === ''">
          <i class="pi pi-exclamation-triangle"></i>
          <span>Il campo è obbligatorio</span>
        </div>

        <div class="input-field">
          <input class="email" type="text" formControlName="email" placeholder="Email (Obbligatorio)" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
        </div>
        <div class="error-message" *ngIf="formSubmitted && userForm.get('email')?.errors?.['pattern']">
          <i class="pi pi-exclamation-triangle"></i>
          <span>L'email non è valida</span>
        </div>

        <div class="input-field">
          <label class="birthdate-label">Data di nascita</label>
          <input class="birthdate" type="date" formControlName="birthDate" placeholder="Data di nascita" />
        </div>

        <div class="input-field">
          <input class="birthplace" type="text" formControlName="birthPlace" placeholder="Luogo di nascita" />
        </div>
      
        <div class="input-field">
          <input class="residence" type="text" formControlName="residence" placeholder="Residenza" />
        </div>

        <!-- Dropdown for "inquadramento" -->
        <div class="input-field">
          <app-dropdown-inquadramento (selected)="onInquadramentoChange($event)"></app-dropdown-inquadramento>
        </div>

        <!-- Dropdown for "qualifica" -->
        <div class="input-field">
          <app-dropdown-qualifica (selected)="onQualificaChange($event)"></app-dropdown-qualifica>
        </div>

        <div class="input-field">
          <input class="iban" type="text" formControlName="iban" placeholder="Codice Iban" />
        </div>

        <div class="input-field">
          <label class="hiredate-group">Data di assunzione</label>
          <input class="hiredate" type="date" formControlName="hireDate" placeholder="Data di assunzione" />
        </div>

        <br />

        <button pButton pRipple label="Invia" class="submit-button">Invia</button>

        <div class="card flex justify-content-center">
          <p-dialog header="Congratulazioni!" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '25rem', textAlign: 'center' }" [draggable]="false" [resizable]="false">
            <p style="text-align: center;">Registrazione avvenuta con successo,<tr></tr> controlla la tua email per proseguire.</p>
            <p-button routerLink="/home" label="Chiudi" [style]="{'background-color':'var(--primary-color)', 'border':'none'}"/> 
          </p-dialog>
        </div>

        <br />
        <div class="bottom-links">
          <span class="back-home" (click)="navigateToHome()">Torna alla home</span>
        </div>
      </form>
    </div>
  </div>
</div>
