<navbarutente></navbarutente>
<h1>Attività di oggi</h1>

<div class="card">
    <p-table [value]="dailyActivity()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Attività</th>
                <th>Data</th>
                <th>Orario di inizio</th>
                <th>Orario di fine</th>
                <th>Note</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dailyActivity>
            <tr>
                <td>{{ dailyActivity.taskName }}</td>
                <td>{{ dailyActivity.activityDate }}</td>
                <td>{{ dailyActivity.startTime }}</td>
                <td>{{ dailyActivity.endTime }}</td>
                <td>{{ dailyActivity.notes }}</td>
                <td><edit-activity [activity]="dailyActivity" /></td>
                <td><button class="delete-button"><i class="pi pi-trash"></i></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-footer />