<navbarutente></navbarutente>
<br><br>
<h1>Attività giornaliera</h1>

<div class="card">
    <p-table [value]="dailyActivity()" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Attività</th>
                <th>Data</th>
                <th>Orario di inizio</th>
                <th>Orario di fine</th>
                <th>Note</th>
                <th class="buttons"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dailyActivity>
            <tr>
                <td>{{ dailyActivity.taskName }}</td>
                <td>{{ dailyActivity.activityDate | date:"dd/MM/yyyy" }}</td>
                <td>{{ dailyActivity.startTime | date: 'HH:mm' }}</td>
                <td>{{ dailyActivity.endTime | date: 'HH:mm' }}</td>
                <td>{{ dailyActivity.notes }}</td>
                <td class="buttons"><edit-activity [activity]="dailyActivity" /><delete-activity [activityID]="dailyActivity._id"></delete-activity></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-footer />