/* Stile per la navbar */
div {
  background-color: white;
}

.navbar {
  padding-top: 2px;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
}

.left img {
  height: 40px;
  /* Mantiene l'immagine del logo non arrotondata */
}

.right {
  justify-content: end;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: -40px;
  margin-bottom: 30px;
}

.userEmail {
  display: flex;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Stile specifico per l'immagine utente nel dropdown */
p-avatar img {
  border-radius: 50%;
  width: 40px; /* Imposta una larghezza fissa */
  height: 40px; /* Imposta un'altezza fissa */
}
