<app-user-task-creation (buttonClicked)="onChildButtonClick()"></app-user-task-creation>

@if (dailyActivity().length > 0) {
  @defer {
    <daily-activity [inputDailyActivity]="dailyActivity()" />
  } @loading {
    <div class="loading">
      <p-progressSpinner ariaLabel="loading" />
    </div>
  } @error {
    <div class="error">
      <h2>Errore nel caricamento dei dati</h2>
    </div>
  }
}
@if (dailyActivity().length === 0) {
  @defer {
    
    <no-daily-activity />
  } @loading {
    <div class="loading">
      <p-progressSpinner ariaLabel="loading" />
    </div>
  } @error {
    <div class="error">
      <h2>Errore nel caricamento dei dati</h2>
    </div>
  }
}
