h1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size:30px;
}

tr.disabled {
  opacity: 0.8;
}


.paginator {
  width: 90%;
  margin: auto
}

.filter-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px; 
  margin-bottom: 20px; 
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-input {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date-input label {
  margin-right: 5px;
}

input[type="date"],
input[type="text"] {
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 5px;

}

input[type="date"] {
  background-color: #0080ff;
  color: #ffffff;
  font-size: 12px;
  margin-right: 5px;
}

input[type="text"] {
  width: 200px; 
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}


@media (max-width: 767px) {
  .filter-row {
    flex-direction: column;
    align-items: center;
  }

  .date-input {
    margin-top: 10px;
  }
}

.box{
  margin-top: 10px;
  margin-bottom: 0;
}








.center{
  padding:50px auto 10px auto ;
}


.activities {
  width: 15em;
}

.notes {
  width: 20em;
}

.times {
  width: 10em;
}

.buttons {
  width: 7em;
}

#paginator {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#paginator > span {
  margin: auto 0.5em;
}

.button-report-container {
  display: flex;
  justify-content: flex-start; 
  gap: 10px; 
}

.report-button {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}



@media (max-width: 767px) {
  .filter-container {
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .fix{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 2px;
  }

  .date-input {
      margin-top: 10px;
  }
}

