<app-admin-vis-tutte-att-users />

<div class="filter">
    <input type="text" pInputText [(ngModel)]="textFilter" placeholder="Nome, cognome o attività"/>
    <p-button type="button" pRipple  [text]="true" [rounded]="true" [plain]="true" [icon]="'pi pi-filter'" (click)="onClickSetFilter()" />
    <p-button type="button" pRipple  [text]="true" [rounded]="true" [plain]="true" [icon]="'pi pi-filter-slash'" (click)="onClickRemoveFilter()" />
</div>

<div class="box">
    <p-table [value]="rowItems" dataKey="codiceFiscale" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th></th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome" /></th>
                <th pSortableColumn="cognome">Cognome <p-sortIcon field="cognome" /></th>
                <th>Codice Fiscale</th>
                <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>
                <th>Attività</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="item" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td><img [src]="item.propic" width="50" class="shadow-4" /></td>
                <td>{{ item.nome }}</td>
                <td>{{ item.cognome }}</td>
                <td>{{ item.codiceFiscale }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.activity[0].taskName }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-item>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="item.activity" dataKey="codiceFiscale">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Tipo di attività</th>
                                    <th>Data</th>
                                    <th>Orario di inizio</th>
                                    <th>Orario di fine</th>
                                    <th>Note</th>
                                    <th style="width: 4rem"></th>
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-activity>
                                <tr>
                                    <td>{{ activity.taskName }}</td>
                                    <td>{{ activity.activityDate | date:"dd/MM/yyyy" }}</td>
                                    <td>{{ activity.startTime | date: 'HH:mm' }}</td>
                                    <td>{{ activity.endTime | date: 'HH:mm' }}</td>
                                    <td>{{ activity.notes }}</td>
                                    <td><edit-activity [activity]="activity"/></td>
                                    <td><button class="delete-button"><i class="pi pi-trash"></i></button></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no order for this product yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-footer/>