h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:30px;

}

.filter-container{
    margin-left: 70px;
}



input[type="text"] {
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 5px;
} 



.box{
    
   
    margin-top: 10px;
}




  



.center{
    padding:50px auto 10px auto ;
}


.activities {
    width: 15em;
}

.notes {
    width: 20em;
}

.times {
    width: 10em;
}

.buttons {
    width: 7em;
}

#paginator {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#paginator > span {
    margin: auto 0.5em;
}


