<p-toast />

  <h1>Tutte le attività</h1>


  <div [formGroup]="filterForm" class="filter-row">
    <div class="filter-container">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Cerca per nome, cognome o attività" formControlName="searchText" style="width: 310px;">
    </div>
    <div style="display: flex; margin-right: 80px;">
    <div class="date-input">
      <label for="fromDate">Da:</label>
      <input id="fromDate" type="date" pInputText placeholder="Da data" formControlName="fromDate" style="background-color: #0F6DAF;">
    </div>
    
    <div class="date-input">
      <label for="toDate" style="margin-left: 8px;">A:</label>
      <input id="toDate" type="date" pInputText placeholder="A data" formControlName="toDate" style="background-color: #0F6DAF;">
    </div>
  </div>
</div>
  


<div class="box">


  <p-table
  [value]="filteredItems.length ? filteredItems : rowItems"
  sortField="firstName"
  [tableStyle]="{ 'min-width': '60rem' }"
  [paginator]="false"
  [rows]="limit"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [style]="{ 'max-width': '90%', 'margin': '0 auto' }">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="firstName" [style.width.px]="150">
        Nome
       
      </th>
      <th pSortableColumn="lastName" [style.width.px]="150">
        Cognome
        
      </th> 
      <th pSortableColumn="taskName" class="activities" [style.width.px]="150">
        Attività
       
      </th>
      <th pSortableColumn="startTime"[style.width.px]="150">
        Data
        <p-sortIcon field="startTime"></p-sortIcon>
      </th>
      <th pSortableColumn="startTime" class="times"[style.width.px]="200">
        Orario di inizio
        <p-sortIcon field="startTime"></p-sortIcon>
      </th>
      <th pSortableColumn="endTime" class="times"[style.width.px]="200">
        Orario di fine
      
      </th>
      <th pSortableColumn="notes" class="notes"[style.width.px]="150">
        Note
     
      </th>
      <th class="buttons"></th>
      <th class="buttons"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowData.firstName }}</td> 
      <td>{{ rowData.lastName }}</td> 
      <td>{{ rowData.taskName }}</td>
      <td>{{ rowData.startTime | date: "dd/MM/yyyy" }}</td>
      <td>{{ rowData.startTime | date: "HH:mm" }}</td>
      <td>{{ rowData.endTime | date:"HH:mm" }}</td>
      <td>{{ rowData.notes }}</td>
      <td><edit-activity [activity]="activityToSend(rowData)"></edit-activity></td>
      <td><delete-activity [activityID]="rowData._id"></delete-activity></td>
    </tr>
  </ng-template>
</p-table>


<div style="display: flex; justify-content: flex-end; width: 90%; margin: auto; background-color: white; padding: 0.5em 1em;">
  {{conteggio}}
</div>

</div>
<div class="card flex justify-content-center paginator">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="limit"
    [totalRecords]="totalRecords"
  ></p-paginator>
  <!-- totalRecords will need to be modified based on the actual database data -->
</div>
<div style="display: flex; justify-content: center;flex-direction: column;align-items: center; background-color: white; width: 90%; margin:auto">
  <input
    type="number"
    pInputText
    [(ngModel)]="tempLimit" 
    placeholder="Inserisci il limite"
    style="width: 160px;"
  />
  <br>
  <p-button label="Invia" (click)="changeLimit()" size="small" [style]="{'background-color': '#0F6DAF'}"></p-button>
</div>
<br /><br />

