
<p-toast />

<h1 class="table-title" >Attività di {{userEmail}}</h1>
<div class="table-container">
  <div style="margin-bottom: 10px; display: flex; justify-content: flex-end;">
  <app-user-task-creation [userID]="idunivoco"/>
</div>
    <p-table [columns]="cols" [value]="activities" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ col.field === 'activityDate' ? (rowData['startTime'] | date: 'dd/MM/yyyy') : 
              col.field === 'startTime' || col.field === 'endTime' ? (rowData[col.field] | date: 'HH:mm') :
              rowData[col.field] }}
          </td>
          <td>
            <edit-activity [activity]="rowData"></edit-activity>
            <delete-activity [activityID]="rowData._id"></delete-activity>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first" 
    [rows]="rows" 
    [totalRecords]="120" 
    ></p-paginator> <!-- totalRecords will need to be modified based on the actual database data -->
    <div style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
      <input
        type="number"
        [(ngModel)]="limit" 
        pInputText
        placeholder="Inserisci il limite"
        style="width: 160px;"
      />
      <br>
      <p-button label="Invia" (click)="changeLimit()"  size="small"></p-button> {{limit}}
      </div>
  </div>

