<p-toast></p-toast>

<h1 class="table-title">Attività di {{ userEmail }}</h1>
<div class="table-container">
  <div style="margin-bottom: 10px; display: flex; justify-content: flex-end;">
    <app-user-task-creation [userID]="idunivoco"></app-user-task-creation>
  </div>
  <p-table
  [value]="activities"
  sortField="firstName"
  [tableStyle]="{ 'min-width': '90rem' }"
  [paginator]="false"
  [rows]="limit"
  [totalRecords]="totalRecords"
  
  [style]="{ 'max-width': '100%', 'margin': '0 auto' }">
  <ng-template pTemplate="header">
    <tr>
    
   
      <th class="taskName" class="activities" >
        Attività
       
      </th>
      <th pSortableColumn="startTime" class="time">
        Data
        <p-sortIcon field="startTime"></p-sortIcon>
      </th>
      <th pSortableColumn="startTime" class="times">
        Orario di inizio
        <p-sortIcon field="startTime"></p-sortIcon>
      </th>
      <th class="endTime" class="times">
        Orario di fine
      
      </th>
      <th class="notes" class="notes">
        Note
     
      </th>
      <th class="buttons"></th>
      <th class="buttons"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
     
      <td>{{ rowData.taskName }}</td>
      <td>{{ rowData.startTime | date: "dd/MM/yyyy" }}</td>
      <td>{{ rowData.startTime | date: "HH:mm" }}</td>
      <td>{{ rowData.endTime | date:"HH:mm" }}</td>
      <td>{{ rowData.notes }}</td>
      <td><edit-activity [activity]="(rowData)"></edit-activity></td>
      <td><delete-activity [activityID]="rowData._id"></delete-activity></td>
    </tr>
  </ng-template>
</p-table>
  <div style="display: flex; justify-content: flex-end; background-color: white; padding: 0.5em 1em;">
    {{ conteggio }}
  </div>
  <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first" 
    [rows]="limit" 
    [totalRecords]="totalRecords">
  </p-paginator>
  <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; background-color: white;">
    <input
      type="number"
      [(ngModel)]="limit" 
      pInputText
      placeholder="Inserisci il limite"
      style="width: 160px;">
    <br>
    <p-button label="Invia" (click)="changeLimit()" size="small" [style]="{ 'background-color': '#0F6DAF' }"></p-button>
  </div>
  <br>
</div>
