.times {
    max-width: 5em
}

.buttons {
    display:flex;
    justify-content: flex-start;
}

.table-title {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}


.table-container{
    margin-top:35px;
    margin-left:5%;
    margin-right:5%;
}

.info-button,
.delete-button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 12px;
}

.info-button {
    background-color: #0F6DAF;
    color: white;
    margin-right: 20px;
}

.delete-button {
    background-color: orangered;
    color: black;
    margin-right: -50px;
}

@media (max-width: 150px) {
    .p-table {
        font-size: 18px;
        padding: 8px 12px;
    }
}
