<app-admin-vis-tutte-att-users></app-admin-vis-tutte-att-users>

<div class="table-container">
    <p-table [columns]="cols" [value]="activities" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ col.field === 'activityDate' ? (rowData[col.field] | date: 'dd/MM/yyyy') : 
              col.field === 'startTime' || col.field === 'endTime' ? (rowData[col.field] | date: 'HH:mm') :
              rowData[col.field] }}
          </td>
          <td>
            <edit-activity [activity]="rowData"></edit-activity>
            <delete-activity [activityID]="rowData['_id']"></delete-activity>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-footer></app-footer>