.times {
    max-width: 5em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.table-title {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-top: 35px;
    margin-left: 5%;
    margin-right: 5%;
}

.date-input {
    margin-right: 10px;
    left:60%;
    position: sticky; 
}

.info-button,
.delete-button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 12px;
}

.info-button {
    background-color: #0F6DAF;
    color: white;
    margin-right: 20px;
}

.delete-button {
    background-color: orangered;
    color: black;
    margin-right: -50px; 
}

input[type="text"] {
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="date"] {
    background-color: #0080ff;
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-container .date-input {
        margin-bottom: 10px;
    }

    .buttons {
        flex-wrap: wrap;
        justify-content: flex-start; 
    }

    .buttons app-user-task-creation {
        margin-left: 0;
        margin-top: 10px; 
    }
}
@media (max-width: 890px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }



    input[type="date"] {
        background-color: #0080ff;
        padding: 5px;
        font-family: "Roboto Mono", monospace;
        color: #ffffff;
        border: none;
        outline: none;
        border-radius: 5px;
       display:flex;
    }
    

}