<p-toast />
<div class="flex-auto calendario">
    <label for="icondisplay" class="font-bold block mb-2"> Data: </label>
    <p-calendar 
        [(ngModel)]="date" 
        [iconDisplay]="'input'" 
        [showIcon]="true" 
        inputId="icondisplay"
        dateFormat="dd-mm-yy"
        (onSelect)="selectedDate()"
        [maxDate]="today" />
</div>

<div class="card">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" (onDataSelect)="handleClick($event)" height="400" />
</div>

<p-dialog header="Dettaglio {{clickedTaskName}} ({{date | date:'dd-MM-yyyy'}})" [modal]="true" [(visible)]="visibleDetail" [style]="{ width: '25rem' }">
    <div class="task">
        <h2>Task: {{clickedTask().taskName}}</h2>
        <p><b>Ore: </b>{{clickedHours() | number:'1.2'}}</p>
        <p><b>Stato attuale: </b>{{clickedTask().state}}</p>
        <p-progressBar [value]="clickedTask().progressState" />
    </div>
    <div class="users">
        <h2>Dettagli:</h2>
        <ng-container *ngFor="let act of detailsToPrint()">
            <h4>{{act.user.firstName}} {{act.user.lastName}}</h4>
            <p><b>Tempo:</b> {{act.activity.hours}}h ({{act.activity.startTime | date:'HH:mm'}}-{{act.activity.endTime | date:'HH:mm'}})</p>
            <p style="width: 100%; overflow-wrap: break-word"><b>Note:</b> {{act.activity.notes}}</p>
            <p-divider />
        </ng-container>
    </div>
</p-dialog>