.card {
    width: 90%;
    margin: auto;
    background-color: white;
    padding:2em;
    border-radius: 1em;
    border: 1px solid black;
}

.calendario {
    width:fit-content;
    margin: 0.5em auto 2em auto;;
    display: flex;
    flex-flow: column wrap;
}