.card {
    width: 90%;
    margin: auto;
    background-color: white;
    padding:2em;
    border-radius: 1em;
    border: 1px solid black;
}

.ricerca {
    width:100%;
    margin: 0 auto 2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ricerca > div {
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
}

.ricerca > .left {
    margin-left: 25%;
}

.ricerca > .right {
    margin-right: 25%;
}