<div class="ricerca">
    <div>
        <label for="icondisplay" class="font-bold block mb-2"> Data: </label>
        <p-calendar 
            [(ngModel)]="date" 
            [iconDisplay]="'input'" 
            [showIcon]="true" 
            inputId="icondisplay"
            dateFormat="dd-mm-yy"
            [maxDate]="today"
            [readonlyInput]="true" />
    </div>
    <div>
        <label for="icondisplay" class="font-bold block mb-2"> Utente: </label>
        <p-dropdown 
            [options]="users()" 
            [(ngModel)]="selectedUser" 
            optionLabel="name"
            placeholder="Scegli un utente"
            styleClass="p-dropdown" />
    </div>
    <div class="button">
        <button 
            pButton
            label="Cerca" 
            style="background-color: #0f6daf; margin: auto;"
            (click)="onClickSearch()">
        </button>
    </div>
</div>

<p-dialog
    *ngIf="data"
    header="Attività di {{selectedUser.name}} ({{date | date:'dd-MM-yyyy'}})"
    [modal]="true"
    [(visible)]="pieVisible"
    [style]="{'min-width': '40%', 'min-height': '50%', 'max-width': '95%'}">
    <p-chart *ngIf="data" type="pie" [data]="data" [options]="options" (onDataSelect)="handleClick($event)" height="500" width="500" [style]="{'height': '20em'}" />
    <ng-container *ngIf="detailVisible">
        <p-divider />
        <h3>{{activityDetail().taskName}}</h3>
        <p style="width: 100%; overflow-wrap: break-word"><b>Orario: </b>{{activityDetail().startTime | date:'HH:mm'}} - {{activityDetail().endTime | date:'HH:mm'}}</p>
        <p style="width: 100%; overflow-wrap: break-word"><b>Note: </b>{{activityDetail().notes}}</p>
        <a class="close-detail" (click)="closeDetail()">Chiudi</a>
    </ng-container>
</p-dialog>
<p-dialog
    *ngIf="!data"
    header="Attività di {{selectedUser.name}} ({{date | date:'dd-MM-yyyy'}})"
    [modal]="true"
    [(visible)]="pieVisible"
    [style]="{'min-width': '15%', 'min-height': '20%', 'max-width': '95%'}">
    <h2>Non ci sono attività per questo utente in questa data</h2>
</p-dialog>