@import "primeicons/primeicons.css";
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color:transparent;
    overflow-x: auto;
  }
  
  .p-button {
    margin:10px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 5px 5px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
  }
   

  
  .omino-button {
    margin-left: 15px;
    /* background: none; */
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* color: black; */
    white-space: nowrap;
  }
 
  
  /*@media (max-width: 768px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .link,
    .omino-button,
   
  }
  */
  
  /*@media (max-width: 414px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .link,
      .omino-button,
}
*/

  
  
 /* @media (min-width: 667px) {
    
    .omino-button {
        width: 50%;
    }
  } 
  */