<section class="footer">
  <div class="footer-row">
    <div class="footer-col">
      <h4>Email</h4>
      <ul class="links">
        <li><a href="#">Activitytrackerinfo.it</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Telefono</h4>
      <ul class="links">
        <li><a href="#">327205005</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Fax</h4>
      <ul class="links">
        <li><a href="#">0911634824</a></li>
      </ul>
    </div>
  </div>
</section>
