.button {
  background-color: #0F6DAF;
  border-radius: 3px;
  border: none;
 color: #eeeeee;
 cursor: pointer;
 font-size: 15px;
 padding: 3px 10px;
 text-align: center;
 text-decoration: none;
    animation: glowing 1300ms infinite;
  }
  @keyframes glowing {
    0% {
      background-color: blue;
      box-shadow: 0 0 3px blue;
    }
    50% {
      background-color: blue;
      box-shadow: 0 0 10px blue;
    }
    100% {
      background-color: blue;
      box-shadow: 0 0 3px blue;
    }
  }

  .button2{
     background-color: #0F6DAF;
     border-radius: 3px;
     border: none;
    color: #eeeeee;
    cursor: pointer;
    font-size: 15px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
  }