<div class="card flex justify-content-center">
    <button [ngClass]="{'button': buttonlampeggiante, 'button2' : !buttonlampeggiante}"(click)="showDialog()" type="submit" class="button">Utenti da accettare</button>
    <p-dialog
        header="Richieste utenti {{conteggio}}"
        [(visible)]="visible"
        [modal]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [style]="{ width: '50vw', height: '80vh' }"
        [draggable]="false"
        [resizable]="false"
    >
        <div class="card" style="display: flex; justify-content: center;">
            <div *ngIf="usersfalse" style="display: flex; align-items: center; justify-content: center;">
                <h2>Non ci sono utenti da accettare</h2>
            </div>
            <p-table [value]="products" [tableStyle]="{ 'min-width': '1', 'display': 'flex', 'align-items': 'center', 'margin': 'auto' }">
                <ng-template pTemplate="header">
                    <!-- Definisci gli header qui se necessario -->
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr class="product-row">
                        <td>{{ product.name }}</td>
                        <td>{{ product.cognome }}</td>
                        <td>{{ product.codicefiscale }}</td>
                        <td>{{ product.email }}</td>
                        <td class="buttons-cell">
                            <button (click)="accetta(product.id)" style=" height: 19px ;border: none; background-color: blue; color: white; border-radius: 5px;">Accetta</button>
                            <button (click)="rifiuta(product.id)" style=" height: 19px ;border: none; background-color: red; color: white; border-radius: 5px;">Elimina</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-dialog>
</div>