
<input type="file" name="file" id="inputGroupFile" required (change)="csvImport($event)"
       accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">


<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th *ngFor="let chiave of chiavi" class="px-6 py-3">{{ chiave }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let riga of valori" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td *ngFor="let valore of riga" class="px-6 py-4">{{ valore }}</td>
            </tr>
        </tbody>
    </table>
</div>

