.filter-container {
    margin-top: 25px;
    margin-bottom: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.p-table {
    width: 100%;
    margin: 10px 0 0 0;
    border-collapse: collapse; 
}

.pi-input input {
    height: 30px;
    width: 250px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-right: 0;
}

.pi-search input {
    height: 30px;
    width: calc(100% - 180px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.pi-search button {
    height: 30px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.activity-button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 12px;
    margin: 0 1em;
}

.info-button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 20px;
    background-color: var(--primary-color);
    color: white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.fix {
    display: flex;
    align-items: center;  /* Allinea gli elementi verticalmente al centro */
    justify-content: center;  /* Centra gli elementi orizzontalmente */
    padding: 0 1em;
}

.fix input {
    height: 30px;
    width: 250px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-right: 5px;  /* Spazio tra l'input e il bottone */
}

.fix span {
    display: flex;
    align-items: center;
}

.fix button {
    height: 30px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.button2 {
    height: 30px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .pi-search input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .fix input {
        height: 30px;
        width: 150px;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        margin-right: 10px;
    }

    .button2 {
        margin-top: 10px;
    }

    .p-table td.email {
        order: -1; 
    }
    .activity-button {
        position: relative;
        left: -35px;
    }
    .info-button {
        position: relative;
        left: -35px;
    }
    .taskcreation-button {
        position: relative;
        left: -35px;
    }
    .delete-button {
        position: relative;
        left: -35px;
    }
}
