<div class="filter-container">
  <p-table [columns]="cols" [value]="filteredActivities" [tableStyle]="{ 'min-width': '50rem' }" class="p-table">
    <ng-template pTemplate="header" let-columns>
      <tr> 
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ col.field === 'activityDate' ? (rowData[col.field] | date: 'dd/MM/yyyy') : 
            col.field === 'startTime' || col.field === 'endTime' ? (rowData[col.field] | date: 'HH:mm') :
            rowData[col.field] }}
        </td>
        <td>
          <button class="activity-button">Attività</button>
          <button class="info-button"><i class="pi pi-pencil"></i></button>
          <button class="delete-button"><i class="pi pi-trash"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-footer></app-footer>