<p-toast></p-toast>

<div class="container">
  <div class="card">
    <div class="header">
      <img [src]="immagine" class="profile-image" (click)="fileInput.click()" />
      <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" />
      <div class="center">
        <h1>Dati Anagrafici</h1>
      </div>
    </div>
    <div class="form-container">
      <form [formGroup]="userForm">
        <div class="input-group">
          <input class="input-name" type="text" placeholder="Nome" [(ngModel)]="user().firstName" formControlName="firstName" />
        </div>
        <div class="input-group">
          <input class="input-surname" type="text" placeholder="Cognome" [(ngModel)]="user().lastName" formControlName="lastName" />
        </div>
        <div class="input-group">
          <input class="input-email" type="text" placeholder="{{user().email}}" readonly disabled />
        </div>
        <div class="input-group">
          <input class="input-codfisc" type="text" placeholder="Codice fiscale" [(ngModel)]="user().codiceFiscale" formControlName="codiceFiscale" />
        </div>
        <div class="input-group">
          <label class="birthdate-label">Data di nascita</label>
          <input class="input-birthdate" type="string"  formControlName="birthDate" [(ngModel)]="user().birthDate" placeholder="gg/mm/aaaa" />
        </div>
        <div class="input-group">
          <input class="input-birthplace" type="text"formControlName="birthPlace" [(ngModel)]="user().birthPlace" placeholder="Luogo di nascita"  />
        </div>
        <div class="input-group">
          <input class="input-residence" type="text"formControlName="residence"[(ngModel)]="user().residence" placeholder="Residenza"  />
        </div>
        <div class="input-group">
          <app-dropdown-inquadramento (selected)="onInquadramentoChange($event)" class="input-position" ></app-dropdown-inquadramento>
        </div>
        <div class="input-group">
          <app-dropdown-qualifica (selected)="onQualificaChange($event)" class="input-qualification" [inputItems] = "availableQualifications"></app-dropdown-qualifica>
        </div>
        <div class="input-group">
          <input class="input-iban" type="text" formControlName="iban" [(ngModel)]="user().iban" placeholder="Codice Iban" />
        </div>
        <div class="input-group">
          <label class="hiredate-label">Data di assunzione</label>
          <input class="input-hiredate" type="string"  formControlName="hireDate"[(ngModel)]="user().hireDate" placeholder="gg/mm/aaaa" />
        </div>
      </form>
    </div>
    <div class="actions">
      <button pButton type="button" (click)="close()" class="p-button p-button-secc">Chiudi</button>
      <button pButton type="button" (click)="changePwd()" class="p-button p-button-secc">Cambia Password</button>
      <button pButton type="button" (click)="saveChanges()" class="p-button p-button-secc">Salva</button>
    </div>
  </div>
</div>