:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --label-color: #000000;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px; /* Adjust based on the height of the navbar */
  height: calc(100vh - 80px); /* Adjust based on the height of the navbar */
}

.card {
  width: 80%;
  max-width: 1200px;
  height: auto;
  border: 1px solid #ccc;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.profile-image {
  margin-right: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.file-input {
  display: none;
}

.header .center {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.name-group,
.surname-group,
.email-group,
.codiceFiscale-group,
.birthplace-group,
.residence-group,
.framing-group,
.qualification-group,
.iban-group,
.hiredate-group {
  margin-bottom: 15px;
}

.input-name,
.input-surname,
.input-email,
.input-codfisc,
.input-birthdate,
.input-birthplace,
.input-residence,
.input-position,
.input-qualification,
.input-iban,
.input-hiredate {
  margin: 5px 0;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 32px);
  box-sizing: border-box;
}

.hiredate-group {
  width: 100%;
}

.hiredate-label {
  font-size: 16px;
  color: var(--label-color);
  margin-right: 10px; /* Space between label and input */
}

.input-hiredate {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 32px); /* Full width of the input field */
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1.7em;
}

.actions button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
}

.actions button:first-child {
  margin-left: 0;
}

.actions button:last-child {
  margin-right: 0;
}

.actions button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin: 0 0 20px 0;
  }

  .header .center {
    margin: 0;
  }

  .input-group {
    align-items: center;
  }

  .actions {
    justify-content: center;
    flex-direction: column;
  }

  .actions button {
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
  }

  .card {
    width: 90%;
    margin: 0 5%;
  }
}