:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --label-color: #000000;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 40px; /* Aggiunto margine per distanziare dalla navbar e dagli angoli */
}

.card {
  width: 70%;
  max-width: 900px; /* Ridotto max-width */
  padding: 20px; /* Aggiunto spazio interno uniforme */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.profile-image {
  margin-right: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.file-input {
  display: none;
}

.header .center {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.input-name,
.input-surname,
.input-email,
.input-codfisc,
.input-birthdate,
.input-birthplace,
.input-residence,
.input-position,
.input-qualification,
.input-iban,
.input-hiredate {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

app-dropdown-inquadramento,
app-dropdown-qualifica {
  width: 100%;
  max-width: 400px;
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

.actions button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  text-decoration: none;
}

.actions button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin: 0 0 10px 0;
  }

  .header .center {
    margin: 0;
  }

  .input-group {
    align-items: center;
  }

  .actions {
    flex-direction: column;
    justify-content: center;
  }

  .actions button {
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
  }

  .card {
    width: 90%;
    margin: 0 5%;
  }
}
